{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body_class %}login{% endblock %}

{% block body %}
	

	<div class="login-card center-everywhere grid-33">
		
		<h1 class="pre-header">Welcome to Sudocrypt.</h1>
		
		<h2>Login</h2>
		
		{% load widget_tweaks %}

		<form name="LoginForm" action="." method="post"> {% csrf_token %}
			<!-- {{ form.as_ul }} -->
			{{ form.non_field_errors }}
		    {{ form.username.errors }}
		    {{ form.password.errors }}
			
			<div class="field">
				{{ form.username|attr:"placeholder:Username" }}
				<i class="ion-ios7-people"></i>
			</div>
			<div class="field">
				{{ form.password|attr:"placeholder:Password"|attr:"class:last" }}
				<i class="ion-ios7-locked" style="top: -20px;"></i>
			</div>
					
			<input type="submit" value="Press Enter to Login">

		</form>

	</div>

{% endblock %}