<html>
	
	<head>
		
		<title>The Hunt &mdash; Registration</title>

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">

		<script src="//use.typekit.net/eqy7rfq.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

	</head>

	<body>
		
		<section class="register thanks">
			
			<div class="img"><img src="{{ STATIC_URL }}img/the%20hunt.png" alt=""></div>

			<p style="text-align: center !important">The registration process will be re-initiated at 8:03 p.m.</p>

		</section>


	</body>



</html>