<html>
	
	<head>
		
		<title>The Hunt &mdash; Registration</title>

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">

		<script src="//use.typekit.net/eqy7rfq.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

	</head>

	<body>
		
		<section class="register">

			<div class="img"><img src="{{ STATIC_URL }}img/the%20hunt.png" alt=""></div>
	
			{% block body %}
				<section>
				{% if form.errors %}
					<p>You can not register this account.</p>
				{% endif %}

					<form method="post" id="registration_form" action="."> {% csrf_token %}
						{{ form }}
						<input type="hidden" name="next" value="/myapp/" />
						<input type="submit" name="register" value="Save Team" />
					</form>

				</section>
			{% endblock %}

		</section>


	</body>



</html>