<nav class="grid-container">

	<div class="grid-30 logo"><img src="{{ STATIC_URL }}img/icon.png" alt=""><span class="hidden-mobile">Sudocrypt</span></div>
	
	<div class="pull-right grid-70 menu">
	
		<ul>
		{% if user.is_authenticated %}

			<li>Hello, {% if cheated %}Cheater{% else %}{{ user }}{% endif %}.</a></li>
			<li><a href="/logout"><i class="ion-log-in"></i>logout</a></li>

        {% else %}        

			<li><a href="/team/register/">Register</a></li>
			<li><a href="/team/login/" class="highlight">Login</a></li>

		{% endif %}
		
		</ul>
	
	</div>

</nav>