{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body_class %}login{% endblock %}

{% block body %}
	

	<div class="login-card center-everywhere grid-33">
		
		<h2>Phase 2 of <span class="logo-text">The Hunt</span> is now over.</h2>

		<p>Here is the list of the top 5 teams selected for the Final Phase, in order:</p>
		<p><ol>
			
			<li>________</li>
			<li>Unorthodox Paradox</li>
			<li>trigger happy thugs</li>
			<li>Chandal Chaukdi</li>
			<li>AAAS/The Group (tie)</li>

		</ol></p>

		<p>Congratulations to all the qualifying teams, and we hope everyone had as much fun as we did!</p>

	</div>

{% endblock %}